@{
    ViewData["Title"] = "Health check";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>

   <h1>@ViewData["Title"]</h1>  
   <p>ALL FINE! I'M HEALTHY 
    HIHIHI ;)</p>
   
 </body>
</html>
